<div class="about">
	<h1>Note</h1>
	<p>A simple full stack application that is written in <a href="https://nodejs.org">Node.JS</a> and is running on <a href="https://tutum.co">Tutum</a>.</p>
	<h2>How-to</h2>
	<p>Basically, the URL will be your notes title. It can be protected by setting a password. Lastly, with or without the password, the note will be deleted after 3 hours.</p>
	<h5>Feature</h5>
	<p>Please create a <a href="https://github.com/technowar/Notes/pulls">pull-request</a> if you want to contribute.</p>
	<h5>Bugs</h5>
	<p>Please open an <a href="https://github.com/technowar/Notes/issues">issue</a> if bugs are found.</p>
</div>
